/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  margin: 0px;
  font-family: 'Whitney SSm A', 'Whitney SSm B', "ff-meta-web-pro", sans-serif;
  font-size: 16px;
  header {
    width: 100%;
    height: 50px;
    background: #333333;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #111111;
    nav {
      margin: auto;
      width: 600px;
      height: 50px;
      text-align: left;
      li {
        float: left;
        margin: 15px;
        display: inline;
        a {
          font-size: 16px;
          color: #9a9a9a;
          text-decoration: none;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  content {
    width: 800px;
  }
}
