<div id="amazingslider-1" style="display:block;position:relative;margin:16px auto 56px;">
  <ul class="amazingslider-slides" style="display:none;">
    <li><img src="images/children.jpg" alt="children" /></li>
    <li><img src="images/map.jpg" alt="map" /></li>
    <li><img src="images/notebook.jpg" alt="notebook" /></li>
  </ul>
  <ul class="amazingslider-thumbnails" style="display:none;">
    <li><img src="images/children-tn.jpg" /></li>
    <li><img src="images/map-tn.jpg" /></li>
    <li><img src="images/notebook-tn.jpg" /></li>
  </ul>
</div>
